@charset "UTF-8";



.logo{
	text-align: center;
}
/*種別の選択*/
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #131314;
    white-space: nowrap;
}
li {
    float: left;
    border-right: 1px solid #bbbbbb;
    margin: auto;
    width: 16vw;
    white-space: nowrap;

}
li:last-child {
    border-right: none;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: auto;
}
li a:hover:not(.active) {
    background-color: #a9bce2;
}
.active {
    background-color: #da3c41;
}

