/* 背景画像 */
HTML{
    background-color: #dddddd;
  }
   
  header{
    text-align: center;
    padding: 30px 0px 0px 0px;
  }
   
  .hole {
      width: 200px;
      height: 200px;
      line-height: 200px;
      background-color: #99ff99;
      border-radius: 50%;
      color: #fff;
      text-align: center;
      float: left;
      position: absolute;
      left: 30%; bottom: 50%;
      font-size: 200%;
    }
  .kitchen {
      width: 200px;
      height: 200px;
      line-height: 200px;
      background-color: #ccffff;
      border-radius: 50%;
      color: #fff;
      text-align: center;
      float: left;
      position: absolute;
      left: 40%; bottom: 50%;
      font-size: 200%;
    }
  .admin {
      width: 200px;
      height: 200px;
      line-height: 200px;
      background-color: #99ff99;
      border-radius: 50%;
      color: #fff;
      text-align: center;
      float: left;
      position: absolute;
      left: 50%; bottom: 50%;
      font-size: 200%;
    }
  .manager {
      width: 200px;
      height: 200px;
      line-height: 200px;
      background-color: #ccffff;
      border-radius: 50%;
      color: #fff;
      text-align: center;
      float: left;
      position: absolute;
      left: 60%; bottom: 50%;
      font-size: 200%;
      color: black;
    }
   
    a{
      color: black;
    }
   
    .v_line1 {
      margin-left: 100px;
      width: 5px;
      height: 100px;
      background-color: black;
      position: absolute;
      left: 30%; bottom: 40%;
    }
    .v_line2 {
      margin-left: 100px;
      width: 5px;
      height: 100px;
      background-color: black;
      position: absolute;
      left: 40%; bottom: 40%;
    }
    .v_line3 {
      margin-left: 100px;
      width: 5px;
      height: 100px;
      background-color: black;
      position: absolute;
      left: 50%; bottom: 40%;
    }
    .v_line4 {
      margin-left: 100px;
      width: 5px;
      height: 100px;
      background-color: black;
      position: absolute;
      left: 60%; bottom: 40%;
    }
   
    .p1{
      padding: 0.5em 0.5em;
      margin: 2em 0;
      border: double 5px #4ec4d3;
      position: absolute;
      left: 28%; bottom: 27%;
      font-size: 130%;
    }
    .p2{
      padding: 0.5em 0.5em;
      margin: 2em 0;
      border: double 5px #4ec4d3;
      position: absolute;
      left: 41%; bottom: 27%;
      font-size: 130%;
    }
    .p3{
      padding: 0.5em 0.5em;
      margin: 2em 0;
      border: double 5px #4ec4d3;
      position: absolute;
      left: 50%; bottom: 27%;
      font-size: 130%;
  }
  .p4{
    padding: 0.5em 0.5em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
    position: absolute;
    left: 61%; bottom: 27%;
    font-size: 130%;
  }
   
   
   
  