.ts{
	text-align					:center;

}

.ts2{
	text-align					: center;
}

.btn1{
    margin						: auto;
}

#wrapper{
	width						: 500px;
	margin						: auto;
	border						: 5px solid rgb(6, 8, 44) ;
}

button {
	background-color			: rgb(243, 243, 243);
	border						: 5px;
	color						: #000000;
	padding						: 15px 32px;
	text-align					: center;
	margin						: 4px 2px;
	cursor						: pointer;
	-webkit-transition-duration	: 0.6s;
	transition-duration			: 0.6s;
	cursor						: pointer;
	/*margin: auto;*/
	text-align					: center;
	
	

}

#wrapper{
	width: 300px;
	margin: auto;
}

button {
	background-color: rgb(243, 243, 243);
	border: 5px;
	color: #000000;
	padding: 15px 32px;
	text-align: center;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	cursor: pointer;
	/*margin: auto;*/

	
  }
